#board_wrapper {
  width: 560px;
  height: 560px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

#board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  padding: 0px;
  box-shadow: 5px 5px 10px grey;
}

.space {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 24pt;
  border: none;
  padding: 0px;
  font-size: 30px;
}
